---
import Layout from "../layouts/Layout.astro";
import { getEntry, render } from "astro:content";

const about = await getEntry("pages", "about.en");
let Content = null;
if (about) {
    const rendered = await render(about);
    Content = rendered.Content;
}
---

<Layout title="About">
    <section>
        <div class="prose">
            <h1>{about?.data.title}</h1>
            {Content && <Content />}
        </div>
    </section>
</Layout>
